*
!*.el
!*.el.disabled
!.emacs.d
!.emacs.d/bootstrap
!.emacs.d/bootstrap/*
!.emacs.d/config
!.emacs.d/config/*
!.emacs.d/custom.el
!.emacs.d/init.el
!.emacs.d/lib
!.emacs.d/lib/*
!.emacs.d/theme
!.emacs.d/theme/*
!.gitignore
!.stow-local-ignore
.emacs.d/custom.el
*.elc
.emacs.d/config/erc/accounts.el
