*
!.emacs.d
!.emacs.d/config
!.emacs.d/lib
!.emacs.d/bootstrap
!.emacs.d/bootstrap/*
!.emacs.d/theme
!.emacs.d/config/*
!.emacs.d/lib/*
!.emacs.d/theme/*
!.gitignore
!.stow-local-ignore
!.emacs.d/init.el
!*.el
!*.el.disabled
*.elc
.emacs.d/config/erc/accounts.el
